
<h1 style="text-align:center">Welcome to the Library of Magic</h1>
<h2 style="text-align:center">This site was made to share the knowledge of spells</h2>

<div class="container"> 

 <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-inner" role="listbox">
    <!-- Slide One: Red -->
    <div class="carousel-item active" style="background-color: #F13C20;">
      <div class="carousel-caption  d-md-block">
      <%= image_tag "wizard name.jpg", class:"mb-4", width:"400", height:"300"%>
          <h1>Discover your true wizard name</h1>
      </div>
    </div>
    <!-- Slide Two: Yellow -->
    <div class="carousel-item" style="background-color: #D79922;">
      <div class="carousel-caption  d-md-block">
      <%= image_tag "wand.jpg", class:"mb-4", width:"400", height:"300"%>
        <h1>Make your own custom wand</h1>
      </div>
    </div>
    <!-- Slide Three: Blue -->
        <div class="carousel-item" style="background-color: #4056A1;">
     <div class="carousel-caption  d-md-block">
     <%= image_tag "more spells.jpg", class:"mb-4", width:"400", height:"300"%>
        <h1>Read through our collection of magical books or create a book of your own</h1>
    </div>
  </div>
    <!-- Slide Four: Green -->
    <div class="carousel-item" style="background-color: #295939;">
     <div class="carousel-caption  d-md-block">
     <%= image_tag "spells woman.jpg", class:"mb-4", width:"400", height:"300"%>
        <h1>Learn some new spells</h1>
      </div>
    </div>
  </div>
 </div>
</div>

<style>
.carousel-item {
  height: 60vh;
  min-height: 100%;
  
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.text_part{
	display: none;
}
.left_part{
	display: none;
}
}


</style>
