<br><br>
<h1 >Welcome <%= @user.name%></h1>
<br>
<div class="container" style="text-align:center" >
<h4>Here are the books you have created</h4>
<% @books.each do |book| %>
 <%= link_to book.title, book_path(book)%><br><br>
<% end %>
</div>
<br><br>

<div class="text-center" >
<%= link_to "Update your profile here!", edit_user_path(@user), class: "btn btn-outline-success" %>
</div>



<br><br>
<div class="container" style="text-align:center" >
<h4>See what your fellow Wizards are doing</h4>
  <% @activities.each do |activity| %>
    <% if activity.trackable %>
      <%= render_activity activity %><br>
    <% end %>
  <% end %>
</div>



