<h1> Edit Book:</h1>


<%= render partial: "layouts/error", locals: {object: @book}  %>

    <%= form_for @book do |f| %>
        <%= render partial: "form", locals: { in_the_partial: f } %>
        <%= f.submit %> 
    <% end %>