<br><br>
<h1> All Books:</h1>
<div class="container" style="text-align:center" >
<% @books.each do |book| %>
<%= link_to book.title, book_path(book)%><br><br>
<% end %>
</div>
<br><br>


<div class="text-center" >
<%= link_to "View the 4 most recent books!", books_most_recent_path, class: "btn btn-outline-success" %>
</div>